<html>
  <head>
  </head>
  <body>
        <form action="/create" method="post">
          <input name="Name" type="text" placeholder="Enter a name" required><br/>
          <input name="Breed" type="text" placeholder="Enter a breed" required><br/>
          <input name="Location" type="text" placeholder="Enter a location" required><br/>
          <input name="Latitude" type="number" placeholder="Enter a latitude" required><br/>
          <input name="Longitude" type="number" placeholder="Enter a longitude" required><br/>
          <input type="submit" value="Create new Pet">
        </form>
  </body>
</html>